# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env


# Project data
data_cleaning/data/raw/
data_cleaning/data/processed/
data_cleaning/data/quarantine/
data_cleaning/data/parquet/



